<template>
  <div class="home">

    <div :class="'weather-'+weather.state">

      <div class="weather-header">
          
        <input type="text" v-model="search" @keydown.enter="searchWeather" placeholder="Saisissez une ville ...">

        <em>{{ weather.country }}</em>
      </div>

      <div class="weather-body">

        <div id="weather">
          <b>{{ weather.temp.actual }}°</b>
          <img :src="'http://openweathermap.org/img/wn/'+weather.icon+'.png'" alt="">
          <p>{{ weather.description }}</p>
        </div>

      </div>

      <div class="weather-footer">
        <div class="weather-wind">
          <div class="icon">
            <img src="http://openweathermap.org/img/wn/50d@2x.png" alt="wind">
          </div>
          <h4>
            {{ weather.wind }} %
          </h4>
        </div>
        <div class="weather-cloud">
          <div class="icon">
            <img src="http://openweathermap.org/img/wn/03d@2x.png" alt="cloud">
          </div>
          <h4>
            {{ weather.cloud }} %
          </h4>
        </div>
        <div class="weather-rain">
          <div class="icon">
            <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="rain">
          </div>
          <h4>
            {{ weather.humidity }} %
          </h4>
        </div>
      </div>

    </div>

  </div>
</template>

<script src="./index.js"></script>

<style scoped src="./index.css"></style>
