
  .weather-day,
  .weather-night
  {
    border-radius: 50px;
    padding: 0px 40px;
    max-width: 500px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .weather-day{
    background-image: url('../assets/day.jpg');
    color: #000;
  }
  .weather-night{
    background-image: url('../assets/night.jpg');
    color: #fff;
  }

  .weather-header input{
    background-color: rgba(255, 255, 255, 0.7);
    border-color: rgba(0, 0, 0, 0.1 );
    border-radius: 15px;
    border-style: solid;
    padding: 10px 30px;
    margin-top: 30px;
    color: #000;
    font-size: 12pt;
  }
  .weather-header em{
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
  }

  .weather-body #weather{
    margin-top: 40%;
    font-size: 18pt;
  }
  .weather-body #weather b{
    font-weight: bold;
    padding: 20px;
    color: #000;
    background-color: rgba(223, 211, 211, 0.2);
    border: 2px solid rgb(223, 211, 211);
    border-radius: 50px;
    opacity: 1;
  }
  
  .weather-body #weather p{
    padding-top: 10px;
  }

  .weather-footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-direction: row;
    background-color: rgba(223, 211, 211, 0.2);
  }

  .weather-footer .icon img{
    width: 80px;
  }
