<template>
  <div id="nav">
    <router-view/>
  </div>
</template>

<style>

body{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/SI-Sky.JPG/220px-SI-Sky.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

</style>
